data/magento2/www/app/code/Pr/CmsSearch/etc/routes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="config">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element maxOccurs="unbounded" minOccurs="0" name="router" type="routerType"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType type="routerType">
		<xs:sequence>
			<xs:element name="route" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
